.todo {
   border: 1px solid wheat;
    width: 580px;
    justify-content: center;
    background-color: antiquewhite;
}

.todos {
    border: 1px solid wheat;
    width: 580px;
    justify-content: center;
    background-color: antiquewhite;
}

li {
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;

}

ul > li{
    
    justify-content: center;
    list-style: none;
    padding: 0
}

li > button {
    color: red;
    width: 10px;
    height: 30px;
    display: inline-block;
    
    
 
    
}
input {
    padding: 7px;
    border: none;
}
button {
  border: none;
  background: none;
  
}

.borrar {
    border: 1px solid black;
    margin-right: 10px;
}