.todo {
    background-color: rgb(70, 150, 241);
    width: 260px;
    justify-content: center;
}
ul > li{
    border: 1px solid black;
    justify-content: center;
    list-style: none;
    padding: 9px;
}

li > button {
    justify-content: left;
    
}
input {
    padding: 7px;
    border: none;
}
button {
    border: 1px solid gray;
    margin: 2px;
    padding: 4px;
}