.todo {
   border: 1px solid wheat;
    width: 280px;
    justify-content: center;
}
ul > li{
    
    justify-content: center;
    list-style: none;
    padding: 0
}

li > button {
    color: red;
    float: right;
    
 
    
}
input {
    padding: 7px;
    border: none;
}
button {
    border: none;
  background: none;
}